rules_version = '2'; service cloud.firestore { match /databases/{database}/documents { match /inscricoes_cursos/{id} { allow create: if request.auth == null && request.resource.data.nomeCompleto is string && request.resource.data.whatsapp is string && request.resource.data.whatsapp.matches('^[0-9]{10,11}$') && request.resource.data.cursoId in ['frontend','frontend_firebase'] && request.resource.data.valor in [100,200] && request.resource.data.formularioId == 'crie-seu-site-em-1-dia' && request.resource.data.status == 'novo' && request.resource.data.criadoEm == request.time; allow read, update, delete: if request.auth != null; } } }
